 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om Ladehub</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<p>Ladehub er en app for iPhone/iPad og (snart) Android. Den henter ladestasjoner og status fra nobil.no. Ladehub tilbyr mulighet for å filtrere ladestasjoner på bl.a type ladepunkt (CHAdeMO, Schuko osv.), status (opptatt/ledig), ladeavgift (gratis/betaling).</p>                    
                </div>
                <div class="col-lg-4">
                    <p>Ladehub viser ladestasjoner for elbiler i Norge, Sverige og Finland. Den gir svar på om ladestasjonene er ledig eller opptatt.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>