<section id="carousel">
	<div class="container">
	<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skjermbilder</h2>
                    <hr class="star-primary">
					<!--<hr >-->
                </div>
            </div>
	 <div class=" col-lg-4 col-lg-offset-2">
		<div id="myCarousel" class="carousel slide " data-pause="pause">
  <!-- Carousel items -->
			<div class="carousel-inner">
  
			  <div class="item active">
				  <div class="row text-center">
						<!-- ITEM-->
						<!-- <div class="span6"> -->
							<div class="col-sm-6 ">
								<img src="img/portfolio/Ladestasjoner_liste.PNG" class="img-responsive" >
								<!-- <a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Kart.PNG"></a> -->
							</div>
						<!-- </div> -->
						<!-- ITEM-->
						
						<!-- ITEM-->
						<!-- <div class="span6"> -->
						
							<div class="col-sm-6 ">
								<img src="img/portfolio/Ladestasjoner_liste_refresh.PNG" class="img-responsive" >
								<!-- <a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Kart.PNG"></a> -->
							</div>
						<!-- </div> -->
						<!-- ITEM-->
						
					</div>
				</div>
	
				<div class="item">
						<div class="row text-center">
							<!-- ITEM-->
						   <!--  <div class="span6">
								<div class="thumbnail product-item">
									<a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Ladestasjoner_liste_refresh.PNG"></a>
								</div>

							</div> -->
							
							<div class="col-sm-6 ">
										<img src="img/portfolio/Detaljer_norheimsund.PNG" class="img-responsive" >
										<!-- <a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Kart.PNG"></a> -->
									</div>
							<!-- ITEM-->
						  
						  <!-- ITEM-->
							<!-- <div class="span6">
								<div class="thumbnail product-item">
									<a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Filter.PNG"></a>
								</div>
							</div> -->
							
							<div class="col-sm-6 ">
										<img src="img/portfolio/Kart.PNG" class="img-responsive" >
										<!-- <a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Kart.PNG"></a> -->
									</div>
							<!-- ITEM-->
							
							
							
						</div>
				</div>
		
				<div class="item">
					<div class="row text-center">		
						<!-- ITEM-->
					 <!--    <div class="span6">
							<div class="thumbnail product-item">
								<a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Ladestasjoner_liste.PNG"></a>
							</div>
							<h3>Product name</h3>
							<p><a class="btn btn-large btn-block" href="http://www.bootstraptor.com">View details »</a></p>	
						</div> -->
						
						<div class="col-sm-6 ">
									<img src="img/portfolio/Filter.PNG" class="img-responsive" >
									<!-- <a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Kart.PNG"></a> -->
								</div>
						<!-- ITEM-->
					  
					  <!-- ITEM-->
					<!--     <div class="span6">
							<div class="thumbnail product-item">
								<a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Detaljer_norheimsund.PNG"></a>
							</div>
						</div> -->
						
						<div class="col-sm-6 ">
									<img src="img/portfolio/Muligheter.PNG" class="img-responsive" >
									<!-- <a href="#"><img src="http://larsmathiesen.github.io/ladehub/img/portfolio/Kart.PNG"></a> -->
								</div>
						<!-- ITEM-->
						
						
					</div>
				</div>
			</div><!-- /INNER-->  
			<!-- Carousel nav -->
			
		<!-- 	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
	</a> -->

	<!-- <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
	</a> -->

		 
		<a class=" carousel-control left" href="#myCarousel" data-slide="prev"><</a>
	  <a class="  carousel-control right" href="#myCarousel" data-slide="next">></a>

		</div>
</div>
	</div>
<!-- /CONTAINER -->
</section >